html, body {
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.nvb {
    height: 75px;
    width: 100%;
    background-color: bisque;
    border-bottom: 3px solid black;
}